.EditArea {
  position: relative;
  background-color: aliceblue;
}

.EditArea-phone_shape {
  height: auto;
  width: 275px;
}

.EditArea-canvas_container {
  border: 1px solid black;
  display:inline-block;
  position: relative;
}