.ImageUploadTool div.uploadPicturesWrapper {
  display: none;
}

.ImageUploadTool .fileContainer {
  padding: 0px;
  margin-bottom: 0px;
  margin-top: 30px;
  box-shadow: none;
  transition: none;
  background: none;
}

.ImageUploadTool-error {
  position: absolute;
  background-color: white;
  width: calc(100% - 20px);
  height: 50px;
  padding: 5px;
  border-radius: 5px;
  top: -50px;
  left: 3px;
  box-shadow: 0px 0px 2px 1px rgba(0,0,0,.4);
}

.ImageUploadTool .errorMessage {
  opacity: .95;
  transition: opacity .5s;
}

.ImageUploadTool .errorMessage.fade-out {
  opacity: 0;
}

.SmallLayout  .ImageUploadTool {
  position: absolute;
  width: 30%;
  left: 32%;
  top: -66px;
}

.SmallLayout  .ImageUploadTool .fileContainer {
  margin-top: 0;
}
