.TextTool-align_icon_container {
  margin: 0px 20px 0px 20px;
}

.TextTool-align_icon {
  display: inline-block;
  padding: 5px 10px 0px 0px;
  margin-right: 10px;
  position: relative;
  cursor: pointer;
}

.TextTool-align_icon_disabled {
  cursor: initial;
}

.TextTool-align_icon:after {
  content: "";
  background: black;
  position: absolute;
  bottom: 25%;
  right: 0;
  height: 50%;
  width: 2px;
  border-radius: 2px;
}

.TextTool-align_icon:last-child:after {
  width: 0px;
}

.TextTool-align_icon svg {
  width: 19px;
  height: 19px;
}

.TextTool-dropdown {
  width: calc(100% - 40px);
  margin: 0px 20px 10px 20px;
  font-size: 14px;
}

.TextTool-dropdown .Dropdown-control {
  padding: 3px;
  padding-bottom: 2px;
  border: none;
  border-radius: 0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.TextTool-dropdown .Dropdown-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

.TextTool-dropdown .Dropdown-disabled {
  cursor: initial;
}

.TextTool-effects_container {
  height: 46px;
  margin-left: 12px;
}

.SmallLayout .TextTool-add_text_button {
  position: absolute;
  width: 30%;
  top: -66px;
  left: -5px;
}

.SmallLayout .TextTool-effects_container {
  display: inline-block;
  margin-top: 8px;
}