@font-face {
    font-family: 'boston_trafficregular';
    src: url('./fonts/boston_traffic-webfont.woff2') format('woff2'),
         url('./fonts/boston_traffic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'capture_it_2regular';
    src: url('./fonts/capture_it_2-webfont.woff2') format('woff2'),
         url('./fonts/capture_it_2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'capture_itregular';
    src: url('./fonts/capture_it-webfont.woff2') format('woff2'),
         url('./fonts/capture_it-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'grand_hotelregular';
    src: url('./fonts/grandhotel-regular-webfont.woff2') format('woff2'),
         url('./fonts/grandhotel-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'alex_brushregular';
    src: url('./fonts/alexbrush-regular-webfont.woff2') format('woff2'),
         url('./fonts/alexbrush-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'brusher';
    src: url('./fonts/brusher.woff2') format('woff2'),
         url('./fonts/brusher.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'KaushanScript-Regular';
    src: url('./fonts/KaushanScript-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'luthierbold';
    src: url('./fonts/luthier-bold-webfont.woff2') format('woff2'),
         url('./fonts/luthier-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'luthierregular';
    src: url('./fonts/luthier-regular-webfont.woff2') format('woff2'),
         url('./fonts/luthier-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'aleolight';
    src: url('./fonts/aleo-light-webfont-webfont.woff2') format('woff2'),
         url('./fonts/aleo-light-webfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'aleobold';
    src: url('./fonts/aleo-bold-webfont-webfont.woff2') format('woff2'),
         url('./fonts/aleo-bold-webfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



/*
@font-face {
    font-family: 'atzurregular';
    src: url('./fonts/atzur_regular-webfont.woff2') format('woff2'),
         url('./fonts/atzur_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}*/




@font-face {
    font-family: 'atzurbold';
    src: url('./fonts/atzur_bold-webfont.woff2') format('woff2'),
         url('./fonts/atzur_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}






@font-face {
    font-family: 'badhead';
    src: url('./fonts/badhead_typeface-webfont-webfont.woff2') format('woff2'),
         url('./fonts/badhead_typeface-webfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




/*@font-face {
    font-family: 'barbarowestern';
    src: url('./fonts/barbaro_punta-webfont.woff2') format('woff2'),
         url('./fonts/barbaro_punta-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}*/




/*@font-face {
    font-family: 'bellicoregular';
    src: url('./fonts/bellico-webfont.woff2') format('woff2'),
         url('./fonts/bellico-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}*/




@font-face {
    font-family: 'sortdecai';
    src: url('./fonts/sortdecai_cursive_wild_script-webfont.woff2') format('woff2'),
         url('./fonts/sortdecai_cursive_wild_script-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



/*
@font-face {
    font-family: 'chivolight';
    src: url('./fonts/chivo-light-webfont.woff2') format('woff2'),
         url('./fonts/chivo-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}*/

/* Generated by Font Squirrel (https://ww'fontsquirrel.com) on May 20, 2016 */



@font-face {
    font-family: 'chivobold';
    src: url('./fonts/chivo-bold-webfont.woff2') format('woff2'),
         url('./fonts/chivo-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'choplinextralight';
    src: url('./fonts/choplin-extralight-demo-webfont.woff2') format('woff2'),
         url('./fonts/choplin-extralight-demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'choplinmedium';
    src: url('./fonts/choplin-medium-demo-webfont.woff2') format('woff2'),
         url('./fonts/choplin-medium-demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'courgette';
    src: url('./fonts/courgette-regular-webfont.woff2') format('woff2'),
         url('./fonts/courgette-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'debbyscript';
    src: url('./fonts/debby-webfont.woff2') format('woff2'),
         url('./fonts/debby-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'geomanist';
    src: url('./fonts/geomanist-regular-webfont-webfont.woff2') format('woff2'),
         url('./fonts/geomanist-regular-webfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'homiziolight';
    src: url('./fonts/light-webfont.woff2') format('woff2'),
         url('./fonts/light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'inknut_antiquabold';
    src: url('./fonts/inknutantiqua-bold-webfont.woff2') format('woff2'),
         url('./fonts/inknutantiqua-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'inknut_antiquaregular';
    src: url('./fonts/inknutantiqua-regular-webfont.woff2') format('woff2'),
         url('./fonts/inknutantiqua-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'liberal_handbold';
    src: url('./fonts/liberalhand-bld-webfont.woff2') format('woff2'),
         url('./fonts/liberalhand-bld-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'meloregular';
    src: url('./fonts/melo-regular-webfont.woff2') format('woff2'),
         url('./fonts/melo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}





/* Generated by Font Squirrel (https://ww'fontsquirrel.com) on May 20, 2016 */



@font-face {
    font-family: 'bukhari_script';
    src: url('./fonts/bukhari_script-webfont.woff2') format('woff2'),
         url('./fonts/bukhari_script-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: '_mj_alghifariregular';
    src: url('./fonts/mj_alghifari_demo-webfont.woff2') format('woff2'),
         url('./fonts/mj_alghifari_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'modumregular';
    src: url('./fonts/modum-regular-webfont.woff2') format('woff2'),
         url('./fonts/modum-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'nexa_rust_slabblack_shadow_01';
    src: url('./fonts/nexarustslab-blackshadow01-webfont.woff2') format('woff2'),
         url('./fonts/nexarustslab-blackshadow01-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'nexa_rust_script_l0regular';
    src: url('./fonts/nexarustscriptl-0-webfont.woff2') format('woff2'),
         url('./fonts/nexarustscriptl-0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'nexa_rust_handmadeextended';
    src: url('./fonts/nexarusthandmade-extended-webfont.woff2') format('woff2'),
         url('./fonts/nexarusthandmade-extended-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



/*
@font-face {
    font-family: 'nexa_rust_sansblack';
    src: url('./fonts/nexarustsans-black-webfont.woff2') format('woff2'),
         url('./fonts/nexarustsans-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}*/




@font-face {
    font-family: 'nickainley';
    src: url('./fonts/nickainley-normal-webfont.woff2') format('woff2'),
         url('./fonts/nickainley-normal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'niconne';
    src: url('./fonts/niconne-regular-webfont.woff2') format('woff2'),
         url('./fonts/niconne-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'norwester';
    src: url('./fonts/norwester-webfont.woff2') format('woff2'),
         url('./fonts/norwester-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'reefbold';
    src: url('./fonts/reef-webfont.woff2') format('woff2'),
         url('./fonts/reef-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'rhodium';
    src: url('./fonts/rhodiumlibre-regular-webfont.woff2') format('woff2'),
         url('./fonts/rhodiumlibre-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/* Generated by Font Squirrel (https://ww'fontsquirrel.com) on May 20, 2016 */



@font-face {
    font-family: 'rubikblack_italic';
    src: url('./fonts/rubik-blackitalic-webfont.woff2') format('woff2'),
         url('./fonts/rubik-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'rubikbold_italic';
    src: url('./fonts/rubik-bolditalic-webfont.woff2') format('woff2'),
         url('./fonts/rubik-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'rubikregular';
    src: url('./fonts/rubik-regular-webfont.woff2') format('woff2'),
         url('./fonts/rubik-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'sansitablack';
    src: url('./fonts/sansita-black-webfont.woff2') format('woff2'),
         url('./fonts/sansita-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'sansitabold';
    src: url('./fonts/sansita-bold-webfont.woff2') format('woff2'),
         url('./fonts/sansita-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'santelia';
    src: url('./fonts/santeliascriptbolddemo-webfont.woff2') format('woff2'),
         url('./fonts/santeliascriptbolddemo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'streetwear';
    src: url('./fonts/streetwear-webfont.woff2') format('woff2'),
         url('./fonts/streetwear-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'swistblnk';
    src: url('./fonts/swistblnk_banthers-webfont.woff2') format('woff2'),
         url('./fonts/swistblnk_banthers-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'swistblnk_duwhoers_brushRg';
    src: url('./fonts/swistblnk_duwhoers_brush-webfont.woff2') format('woff2'),
         url('./fonts/swistblnk_duwhoers_brush-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'swistblnk_moabhoers_bold';
    src: url('./fonts/swistblnk_moabhoers-webfont.woff2') format('woff2'),
         url('./fonts/swistblnk_moabhoers-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'swistblnk_moalang_melintangRg';
    src: url('./fonts/swistblnk_moalang_melintang-webfont.woff2') format('woff2'),
         url('./fonts/swistblnk_moalang_melintang-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'sortdecaibrush';
    src: url('./fonts/sortdecai_brush_script-webfont.woff2') format('woff2'),
         url('./fonts/sortdecai_brush_script-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* Generated by Font Squirrel (https://ww'fontsquirrel.com) on May 20, 2016 */



@font-face {
    font-family: 'variane';
    src: url('./fonts/variane_script-webfont.woff2') format('woff2'),
         url('./fonts/variane_script-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'work_sansthin';
    src: url('./fonts/worksans-thin-webfont.woff2') format('woff2'),
         url('./fonts/worksans-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'work_sanshairline';
    src: url('./fonts/worksans-hairline-webfont.woff2') format('woff2'),
         url('./fonts/worksans-hairline-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'work_sansbold';
    src: url('./fonts/worksans-bold-webfont.woff2') format('woff2'),
         url('./fonts/worksans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'work_sansregular';
    src: url('./fonts/worksans-regular-webfont.woff2') format('woff2'),
         url('./fonts/worksans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'santelia_roughline_two';
    src: url('./fonts/santeliaroughlinetwo-webfont.woff2') format('woff2'),
         url('./fonts/santeliaroughlinetwo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'king_basil_literegular';
    src: url('./fonts/king-basil-lite-webfont.woff2') format('woff2'),
         url('./fonts/king-basil-lite-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'xplor_boldregular';
    src: url('./fonts/xplor_bold-regular-webfont.woff2') format('woff2'),
         url('./fonts/xplor_bold-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
